/* slick-custom.css */

/* Estilo para los puntos del carrusel */
.slick-dots li button:before {
    color: #5f5f5f; 
    font-size: 17px;
    
}

.slick-dots li.slick-active button:before {
    color: #2a2a2a; 
    font-size: 17px;
}

/* Estilo para las flechas del carrusel */
.slick-prev:before, 
.slick-next:before {
    color: #ff0000; 
}

/* Estilo para la opacidad de los elementos activos */
.slick-active + .slick-active {
    opacity: 0.2;
}
